#.gitignore for DLX
Debug/*
cmake-build-debug/
cmake-build-release/
.idea/
.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.exe
*.idx
*.lof
*.log
*.lot
*.nav
*.out
*.pdf
*.run.xml
*.scn
*.sln
*.snm
*.spl
*.swp
*.synctex.gz
*.toc
*.vrb



